__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/

.env
*.log
server*_out.txt
server*_err.txt
pip_out.txt
pip_err.txt

.pytest_cache/
.mypy_cache/
.ruff_cache/

.idea/
.vscode/
.DS_Store
Thumbs.db
